<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="A1" fileName="/log/A1.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{2} - %m%n"/>
        </File>
        <File name="DrawLog" fileName="/log/Draw.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{1} - %m%n"/>
        </File>
        <File name="DatabaseLog" fileName="/log/Database.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{1} - %m%n"/>
        </File>
        <File name="EditorLog" fileName="/log/Editor.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{2} - %m%n"/>
        </File>
        <File name="FileHandlingLog" fileName="/log/FileHandling.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{2} - %m%n"/>
        </File>
        <File name="FilterLog" fileName="/log/Filter.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{2} - %m%n"/>
        </File>
        <File name="ImageLog" fileName="/log/Image.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{2} - %m%n"/>
        </File>
        <File name="ScreenLog" fileName="/log/Screen.log" append="false">
            <PatternLayout pattern="[%t] %-5p %c{2} - %m%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <!-- You my want to define class or package level per-logger rules -->
        <Logger name="org.editor.EditorController" level="debug">
            <AppenderRef ref="EditorLog"/>
        </Logger>
        <Logger name="org.editor.ImportControl" level="debug">
            <AppenderRef ref="EditorLog"/>
        </Logger>
        <Logger name="org.editor.tools.drawingtool.DrawingTool" level="debug">
            <AppenderRef ref="DrawLog"/>
        </Logger>
        <Logger name="org.editor.tools.drawingtool.DrawBoard" level="debug">
            <AppenderRef ref="DrawLog"/>
        </Logger>
        <Logger name="org.editor.tools.drawingtool.ShapePixelMap" level="debug">
            <AppenderRef ref="DrawLog"/>
        </Logger>
        <Logger name="org.editor.tools.drawingtool.MovingControl" level="debug">
            <AppenderRef ref="DrawLog"/>
        </Logger>
        <Logger name="org.editor.tools.drawingtool.DrawingControl" level="debug">
            <AppenderRef ref="DrawLog"/>
        </Logger>
        <Logger name="org.editor.tools.drawingtool.handlers.HandlerFactory" level="debug">
            <AppenderRef ref="DrawLog"/>
        </Logger>

        <Logger name="org.editor.tools.filtertool.FilterOptionsController" level="debug">
            <AppenderRef ref="FilterLog"/>
        </Logger>
        <Logger name="org.editor.tools.filtertool.FilterOperation" level="debug">
            <AppenderRef ref="FilterLog"/>
        </Logger>
        <Logger name="org.editor.tools.filtertool.EffectOptionsController" level="debug">
            <AppenderRef ref="FilterLog"/>
        </Logger>

        <Logger name="org.editor.tools.imagetool.ImageGrid" level="debug">
            <AppenderRef ref="ImageLog"/>
        </Logger>


        <Logger name="org.marketplace.gallery.GalleryController" level="debug">
            <AppenderRef ref="EditorLog"/>
        </Logger>
        <Logger name="org.database.LogInController" level="debug">
            <AppenderRef ref="DatabaseLog"/>
        </Logger>
        <Logger name="org.screencontrol.ScreensController" level="debug">
            <AppenderRef ref="ScreenLog"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>