.menu-bar {
    -fx-background-radius: 0 0 10 10;
    -fx-background-color: #282828;
}
.menu-item, .toggle-button, .button, .context-menu, .color-picker{
    -fx-background-color: #282828;
}

.menu {
    -fx-label-padding: 1px;
}

.label, .toggle-button, .button, .color-picker-label{
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #eeeeee;
}
.menu:hover, .menu:focused, .menu:pressed, .menu-item:focused, .menu-item:focused{
    -fx-background-color: rgba(0, 0, 0, 0.8);
}
.menu:showing{
    -fx-background-color: rgba(0, 0, 0, 0.4);
}
.tool-bar{
    -fx-background-radius: 0 10 10 0;
    -fx-background-color: #727272;
}