.context-menu{
    -fx-background-color: #282828;
    -fx-background-radius: 1;
    -fx-border-color: #727272;
    -fx-border-width: 0.5;
    -fx-border-radius: 1;
    -fx-padding: 4 2 4 2;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.6),3,0,2,2);
}
.context-menu .menu-item .label{
    -fx-font-family: "Segoe UI Standard";
    -fx-text-fill: #eeeeee;

}
.context-menu .menu-item:focused{
    -fx-background-color: #727272;
    -fx-background-radius: 1;
}


